$bg: #fff;

$col-br: #16292d;
$col-dk: #6d6d6d;
$col-wh: #fff;

$main-col: #006174;

// Dimensions
$font-sm: 16px;
$font-rg: 18px;
$font-lg: 48px;
$font-xl: 64px;

$padding-horizontal: 7vw;
$padding-horizontal-phone: 20px;

// Configs
$mont: montreal;
$montbold: montreal2;
$serif: "Typey-light", serif;
$bebas: Bebas Neue, sans-serif;
$sans: "Typey-light", sans-serif;
$serifbold: "Typey-regular", serif;
$sansbold: "Typey-regular", sans-serif;
