body {
  height: 100vh;
  padding: 0px;
  min-height: 100vh;
  font-size: $font-sm;
  background: $bg;
}

* {
  line-height: 1.2 !important;
  overscroll-behavior: none;
}

#root {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  color: $col-br;
  font-family: $sans;
  position: relative;
  flex-direction: column;
}
