.landing_container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;

  div,
  li {
    display: flex;
  }

  .landing_nav {
    top: 40px;
    width: 100%;
    z-index: 2;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include sections_config();

    .continue_button {
      color: $main-col;
      width: max-content;
      height: max-content;
      background: #fff;
      padding: 16px 35px;
      border-radius: 8px;
      margin-bottom: 50px;
    }
  }

  .hero {
    width: 100%;
    height: 100vh;
    flex-direction: row;
    background: #f8fffc;

    &__block {
      width: 50%;
      height: 100%;
      position: relative;
      flex-direction: column;
      justify-content: center;
      div {
        flex-direction: column;
      }
      .hero_text {
        .main {
          font-size: $font-xl;
          font-family: $sansmed;
          margin-bottom: 20px;
          @include hdLineHeight();
        }
        .sub {
          margin-bottom: 28px;
          font-size: $font-rg;
          max-width: 490px;
        }
      }
      .continue_button {
        color: $col-wh;
        width: max-content;
        height: max-content;
        background: $main-col;
        padding: 16px 35px;
        border-radius: 8px;
        margin-bottom: 30px;
      }
      .built_on {
        align-items: center;
        flex-direction: row;
        color: $col-dk;
        font-size: $font-rg;
        svg {
          margin-left: 5px;
          margin-top: -6px;
        }
      }

      &:first-child {
        padding-top: 120px;
        padding-left: $padding-horizontal;
      }

      .background_div {
        right: 0px;
        width: 85%;
        height: 100%;
        position: absolute;
        align-items: center;
        background: $main-col;
        flex-direction: column;
        justify-content: flex-end;
        img {
          width: 608px;
          height: 699px;
          object-fit: cover;
        }
      }
      .hero_img {
        z-index: 2;
      }
    }
  }

  .offers {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0px $padding-horizontal;
    flex-direction: column;

    .offers_header {
      font-size: $font-lg;
      font-family: $sansmed;
      margin-bottom: 80px;
      @include hdLineHeight();
    }
    .offer_blocks {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      .offer_block {
        max-width: 363px;
        margin-right: 25px;
        flex-direction: column;
        &:last-child {
          margin-right: 0px;
        }
        .offer_icon {
          margin-bottom: 21px;
        }
        .offer_text_main {
          font-size: $font-md;
          margin-bottom: 13px;
          @include hdLineHeight();
        }
      }
    }
  }

  .features {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    padding-left: $padding-horizontal;

    .features_list {
      width: 655px;
      height: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      li {
        width: 100%;
        color: #bdbdbd;
        margin-bottom: 34px;
        p {
          font-size: $font-lg;
          @include hdLineHeight();
          font-family: $sansmed;
        }
        &.active {
          color: #000;
        }
      }
    }
    .features_img {
      flex: 1;
      height: 100%;
      position: relative;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 120px;
      img {
        height: 85vh;
        transform: translateX(16%);
        position: absolute;
      }
    }
  }

  .api_preview {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0px $padding-horizontal;
    flex-direction: column;
    background: $bg-a;
    color: $col-a;

    .section_header {
      font-size: $font-lg;
      font-family: $sansmed;
      margin-bottom: 71px;
      color: $col-wh;
      @include hdLineHeight();
    }
    .section_content {
      width: 100%;
      flex-direction: row;
      .section_text,
      .section_img {
        width: 50%;
        height: 100%;
        flex-direction: column;
      }

      .section_text {
        .main {
          font-size: $font-md;
          margin-bottom: 9px;
          max-width: 460px;
          &.second_child {
            margin-top: 35px;
          }
        }
        .sub {
          font-size: $font-rg;
          max-width: 460px;
        }
      }
      .section_img {
        img {
          width: 583px;
          height: 363px;
        }
      }
    }
  }

  footer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px $padding-horizontal;

    .footer_design_cover {
      flex: 1;
      width: 100%;
      position: relative;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .foot_design {
        width: 100%;
        position: relative;
        .section_cont {
          height: 100%;
          padding-left: 72px;
          position: absolute;
          justify-content: center;
          flex-direction: column;
          .section_title {
            font-size: $font-lg;
            font-family: $sansmed;
            margin-bottom: 20px;
            color: $col-wh;
            @include hdLineHeight();
          }
          button {
            color: $main-col;
            width: max-content;
            font-size: $font-sm;
            border-radius: 10px;
            background: $col-wh;
            padding: 18px 50px;
          }
        }
        img {
          width: 100%;
        }
      }
    }
    .foot {
      display: flex;
      width: 100%;
      flex-direction: column;
      .foot_row {
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        .foot_logo {
          width: 142px;
        }
        .footer_links {
          gap: 100px;
          color: $col-dk;
        }
      }
      .horLine {
        width: 100%;
        margin: 30px 0px;
        border: 1px solid #f2f2f2;
      }
      .copyrights {
        width: 100%;
        color: #a1a1a1;
        text-align: center;
        font-size: $font-sm;
        margin-bottom: 30px;
      }
    }
  }
}
