.settings_nav_tab {
  gap: 72px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;

  a {
    font-size: $font-sl;
    width: max-content;
    text-transform: uppercase;
    p {
      padding: 12px 4px;
    }
    &.isActive {
      p {
        color: $main-col;
        font-family: $sansmed;
        border-bottom: 4px solid $main-col;
      }
    }
  }
}

.profile_cover {
  flex: 1;
  width: 100%;
  flex-direction: column;
  .user_profile {
    margin-top: 30px;
    flex-direction: column;
    .profile_pic {
      width: 120px;
      height: 120px;
      margin-bottom: 10px;
      border-radius: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
      }
    }
    .user_email {
      width: 340px;
      padding: 8px 20px;
      border-radius: 10px;
      flex-direction: column;
      border: 1px solid #e8e8e8;
      .title {
        color: #6d6d6d;
      }
      .value {
        color: #16292d;
      }
    }
  }

  .delete_button_block {
    width: 100%;
    margin-top: 50px;
    flex-direction: row;
    justify-content: flex-end;
    .delete_button {
      gap: 10px;
      display: flex;
      cursor: pointer;
      color: $col-wh;
      padding: 14px 40px;
      border-radius: 10px;
      border-radius: 10px;
      flex-direction: row;
      font-family: $sansmed;
      background: #eb5757;
    }
  }
}
.api_settings {
  width: 100%;
  margin-top: 25px;
  flex-direction: row;
  justify-content: space-between;

  .api_keys {
    width: 500px;
    flex-direction: column;

    .api_key {
      width: 100%;
      margin: 10px 0px;
      padding: 10px 20px;
      border-radius: 10px;
      flex-direction: row;
      align-items: center;
      border: 1px solid #e8e8e8;
      &_inner {
        flex: 1;
        height: 100%;
        flex-direction: column;
        .title {
          color: #6d6d6d;
        }
        .value {
          color: #16292d;
        }
      }
      .copy_key {
        padding: 5px;
      }
    }

    .hide_secret_key {
      padding-left: 10px;
      font-family: $sansmed;
      margin: 10px 0px 10px;
    }

    .save_changes {
      gap: 10px;
      display: flex;
      margin-top: 25px;
      cursor: pointer;
      color: $main-col;
      padding: 12px 40px;
      border-radius: 10px;
      border-radius: 10px;
      flex-direction: row;
      font-family: $sansmed;
      border: 1px solid $main-col;
    }
  }

  .generate_new_keys {
    gap: 10px;
    display: flex;
    cursor: pointer;
    color: $col-wh;
    height: max-content;
    padding: 18px 40px;
    border-radius: 10px;
    border-radius: 10px;
    flex-direction: row;
    background: $main-col;
  }
}

.preferences {
  margin-top: 25px;
  .category {
    gap: 90px;
    flex-direction: row;
    .class {
      color: #16292d;
      font-family: $sansmed;
    }

    .options {
      flex-direction: column;

      .option {
        gap: 15px;
        width: 100%;
        border-radius: 10px;
        flex-direction: row;
        margin-bottom: 25px;
        &_inner {
          flex: 1;
          height: 100%;
          flex-direction: column;
          .title {
            font-family: $sansmed;
            color: #16292d;
            margin-bottom: 5px;
          }
          .value {
            color: #6d6d6d;
          }
        }
        .check_option {
          padding: 5px;
          cursor: pointer;
          svg {
            margin-top: 1px;
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
