.modal_background {
  z-index: 9999;
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba($color: #000000, $alpha: 0.25);

  .modal_container {
    width: 460px;
    max-width: 90%;
    max-height: 100vh;
    border-radius: 10px;
    font-size: $font-sm;
    background: $col-wh;
    padding: 30px 28px;
    overflow-y: scroll;
    flex-direction: column;

    @include scrollbars(10px, transparent, transparent);

    &.fill-screen {
      width: 100vw;
      max-width: 100%;
      height: 100vh;
      border-radius: 0px;
      padding-top: 0px;
      padding: 0px 0px 120px;
      @mixin modalPad {
        padding: {
          left: 20px;
          right: 20px;
        }
      }
      .modal_header {
        .main {
          gap: 12px;
          height: 74px;
          @include modalPad;
          margin-bottom: 25px;
          align-items: center;
          flex-direction: row;
          border-bottom: 1px solid #e0e0e0;
          .back-btn {
            padding: 5px;
            cursor: pointer;
          }
        }
        .sub {
          @include modalPad;
        }
      }
      .modal_content:not(.no-padding) {
        @include modalPad;
      }
      .action_buttons {
        @include modalPad;
      }
    }

    div {
      display: flex;
      flex-direction: column;
    }
    .modal_header {
      margin-bottom: 25px;
      &.no-margin {
        margin-bottom: 0px;
      }
      a {
        color: $main-col;
        font-family: $sansmed;
      }
      .main {
        margin-bottom: 5px;
        p {
          font-size: $font-rg;
          font-family: $sansmed;
          &.delete {
            color: #eb5757;
          }
        }
      }
      .sub {
        color: $col-dk;
        .note {
          color: #0bd98e;
          // font-size: $font-sl;
        }
      }
    }

    .modal_content {
      width: 100%;

      .option_ticked {
        width: 20px;
        height: 20px;
        overflow: hidden;
        border-radius: 100%;
        background: #f0f0f0;
        svg {
          width: 100%;
          height: 100%;
        }
      }

      .modal_illustration {
        width: 336px;
        height: 336px;
        margin: 0px auto;
        overflow: hidden;
        margin-bottom: 15px;
      }

      .modal_description {
        gap: 5px;
        width: 100%;
        margin-bottom: 15px;

        p {
          text-align: center;
        }
        .main {
          font-size: $font-rg;
          font-family: $sansmed;
        }
        .sub {
          color: $col-dk;
          display: inline;
        }
        a {
          color: $main-col;
          font-family: $sansmed;
        }
      }

      //   Connect wallet Modal
      .connect_option {
        gap: 10px;
        width: 100%;
        height: 68px;
        cursor: pointer;
        padding: 0px 20px;
        align-items: center;
        flex-direction: row;
        border-radius: 10px;
        margin-bottom: 20px;
        border: 1px solid #f2f2f2;
        justify-content: space-between;
        .option_info {
          gap: 10px;
          align-items: center;
          flex-direction: row;
          svg {
            width: 32px;
          }
          p {
            flex: 1;
            color: $col-dk;
          }
        }
      }

      // Generate link Modal
      .logo_block {
        gap: 10px;
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
        flex-direction: column;
        .logo_img {
          width: 70px;
          height: 70px;
          overflow: hidden;
          border-radius: 100%;
          align-items: center;
          justify-content: center;
          border: 1px solid #f2f2f2;
          img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
          }
        }
        .edit_img {
          color: $main-col;
          font-family: $sansmed;
        }
      }
      .generate_link_form {
        gap: 16px;
        color: $col-dk;
        margin-bottom: 20px;
        flex-direction: column;
        .caret_down {
          color: $col-br;
        }
        input {
          color: #000000;
          height: 60px;
          padding: 0px 20px;
          border-radius: 10px;
          border: 1px solid #f2f2f2;
        }

        textarea {
          height: auto;
          flex: 1;
          outline: none;
          resize: none;
          border: none;
          padding: 15px 20px;
          line-height: 1.5;
          overflow: hidden;
          border-radius: 10px;
          background: transparent;
          border: 1px solid #f2f2f2;
        }

        .form_row {
          gap: 10px;
          align-items: center;
          flex-direction: row;
          &.amt_ty {
            gap: 20px;
          }
          input {
            flex: 1;
          }
          .amount_type,
          .asset_select,
          .payment_duration,
          .payment_link_preview {
            flex: 1;
            height: 60px;
            cursor: pointer;
            padding: 0px 20px;
            flex-direction: row;
            align-items: center;
            border-radius: 10px;
            border: 1px solid #f2f2f2;
            justify-content: space-between;
          }
          .payment_link_preview {
            cursor: default;
          }

          .asset_select {
            gap: 10px;
            flex: none;
            padding: 0px 10px;
            width: max-content;
            .asset_info {
              gap: 10px;
              align-items: center;
              flex-direction: row;
              p {
                font-size: $font-sl;
                min-width: 60px;
                text-transform: uppercase;
              }
              svg {
                width: 24px;
                height: 24px;
              }
            }
            .caret_down {
              font-size: 14px;
            }
          }
          .payment_duration {
            flex: none;
            width: 100%;
            i {
              color: #6d6d6d;
              font-size: 20px;
            }
          }
        }
        .warning_component {
          gap: 10px;
          padding: 15px;
          color: #f2994a;
          border-radius: 5px;
          flex-direction: row;
          background: #fff6ec;

          .warn_icon {
            font-size: 24px;
            margin-top: 2px;
          }
        }
      }

      // Delete account Modal
      .optional_email {
        color: $col-dk;
        margin-bottom: 20px;
        flex-direction: column;
        input {
          height: 60px;
          padding: 0px 20px;
          border-radius: 10px;
          border: 1px solid #f2f2f2;
        }
      }

      // Notification modal
      .notification_container {
        // gap: 20px;
        width: 100%;
        flex-direction: column;
        .header {
          width: 100%;
          padding: 0px 15px 10px;
          align-items: center;
          flex-direction: row;
          font-family: $sansmed;
          justify-content: space-between;

          .mark_setting {
            gap: 10px;
            align-items: center;
            flex-direction: row;
            p {
              color: #0bd98e;
              font-size: $font-sm;
            }
            svg {
              width: 16px;
              height: 16px;
              cursor: pointer;
              stroke: #bdbdbd;
            }
          }
        }
        .notification_item {
          gap: 15px;
          cursor: pointer;
          padding: 20px 15px;
          flex-direction: row;
          .item_icon {
            width: 40px;
            height: 40px;
            overflow: hidden;
            svg {
              width: 100%;
              height: 100%;
            }
          }
          .item_text {
            flex: 1;
            display: inline;
            a {
              color: $main-col;
              font-family: $sansmed;
            }
          }
        }

        .empty_notificationn {
          gap: 40px;
          width: 100%;
          min-height: 65vh;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          .empty_illustration {
            flex-direction: row;
            align-content: center;
            justify-content: center;
            svg {
              width: 190px;
              height: 190px;
            }
          }
          p {
            font-size: $font-sm;
            color: #6d6d6d;
            text-align: center;
          }
        }
      }
    }

    .action_buttons {
      flex: none;
      gap: 20px;
      width: 100%;
      height: 56px;
      margin-top: 16px;
      flex-direction: row;
      button {
        flex: 1;
        height: 100%;
        display: flex;
        color: $col-wh;
        cursor: pointer;
        align-items: center;
        border-radius: 10px;
        font-family: $sansmed;
        justify-content: center;
        &.cancel_button {
          background: #bdbdbd;
        }
        &.continue_button {
          background: $main-col;
          &.copied {
            color: $main-col;
            background: #b4eaf4;
          }
        }
        &.delete_button {
          background: #eb5757;
        }
      }
      @include phone {
        gap: 15px;
        &:not(.wallet-connect) {
          height: max-content;
          flex-direction: column-reverse;
          button {
            flex: none;
            width: 100%;
            height: 56px;
          }
        }
      }
    }
  }
}
